body {
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }

  .titutlo {
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: 40px;

  }

  .container {
    display: flex;
    align-items: center;
  }
  
  #foto {
    margin-right: 20px;
    border-radius: 30px;
  }


  .descricao {
    color:aliceblue;
    font-size: 18px;
    margin-top: 10px;
    vertical-align: top;
    margin: 50px;

  }

  .lista {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 25px;
  }

  .html {
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
  }

  .html:hover {
    color: rgb(185, 11, 216);
    font-weight: bold;
    list-style-type: none;
  }

  .css {
    color: white;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
  }

  .css:hover {
    color: rgb(185, 11, 216);
    font-weight: bold;
  }

  .javascript {
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
  }

  .javascript:hover {
    color: rgb(185, 11, 216);
    font-weight: bold;
  }

  .figma {
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
  }

  .figma:hover {
    color: rgb(185, 11, 216);
    font-weight: bold;
  }

  .desk {
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    list-style-type: none
  }

  .desk:hover {
    color: rgb(185, 11, 216);
    font-weight: bold;
  }